<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Flying Hours
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Client ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Package</th>
                                <th>Remaining Hours</th>
                                <th>Update Account</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of data">
                                <td>{{data.client_id}}</td>
                                <td>{{data.name}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.mobile}}</td>
                                <td>{{data.total_package_hours}}</td>
                                <td>{{data.remaining_hours}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" (click)="largeModal.show()" (click)="updateId(data)">
                                        Edit
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Flying Hours</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="hours" id="city" placeholder="Total Hours">
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="rHours" id="postal-code" placeholder="Remaining Hours">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="UpdateMe(hours,rHours)" (click)="largeModal.hide()">Save Changes</button>
            </div>
        </div>
    </div>
</div>