<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Add New Account
                </div>
                <div class="card-body">
                    <!-- <form [formGroup]="myForm" (ngSubmit)="register(myForm)" novalidate>
                        <p> Is "myForm" valid? {{myForm.valid}} </p>

                        <div>
                            <label>Name</label>
                            <input type="text" name="name" formControlName="name">
                            <show-errors [control]="myForm.controls.name"></show-errors>
                        </div>

                        <div>
                            <label>Birth Year</label>
                            <input type="text" name="birthYear" formControlName="birthYear">
                            <show-errors [control]="myForm.controls.birthYear"></show-errors>
                        </div>

                        <div formGroupName="location">
                            <h3>Location</h3>
                            <div>
                                <label>Country</label>
                                <input type="text" name="country" formControlName="country">
                                <show-errors [control]="myForm.controls.location.controls.country"></show-errors>
                            </div>
                            <div>
                                <label>City</label>
                                <input type="text" name="city" formControlName="city">
                            </div>
                        </div>

                        <div formArrayName="phoneNumbers">
                            <h3>Phone numbers</h3>
                            <div *ngFor="let phoneNumberControl of myForm.controls.phoneNumbers.controls; let i=index;">
                                <label>Phone number {{i + 1}}</label>
                                <input type="text" name="phoneNumber[{{phoneId}}]" [formControlName]="i">
                                <button type="button" (click)="remove(i); myForm.markAsTouched()">remove</button>
                                <show-errors [control]="phoneNumberControl"></show-errors>
                            </div>
                            <button type="button" (click)="add(); myForm.markAsTouched()">Add phone number</button>
                        </div>

                        <show-errors [control]="myForm"></show-errors>

                        <pre>{{myForm.value | json}}</pre>
                        <button type="submit" [disabled]="myForm.invalid || myForm.pending">Register</button>
                        <button type="button" (click)="printMyForm()">Print to console</button>
                    </form> -->

                    <form [formGroup]="myForm" (ngSubmit)="addAccount(myForm)" novalidate>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" name="email" formControlName="email" class="form-control" [(ngModel)]="email" placeholder="Email">
                                <show-errors [control]="myForm.controls.email"></show-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" name="phone" formControlName="phone" [(ngModel)]="phone" placeholder="Phone Number">
                                <show-errors [control]="myForm.controls.phone"></show-errors>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" name="fname" formControlName="fname" [(ngModel)]="fname" placeholder="First Name">
                                <show-errors [control]="myForm.controls.fname"></show-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" name="lname" formControlName="lname" [(ngModel)]="lname" placeholder="Last Name">
                                <show-errors [control]="myForm.controls.lname"></show-errors>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" name="hours" formControlName="hours" [(ngModel)]="hours" placeholder="Package Hours">
                                <show-errors [control]="myForm.controls.hours"></show-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" name="rHours" formControlName="rHours" [(ngModel)]="rHours" placeholder="Remaining Hours">
                                <show-errors [control]="myForm.controls.rHours"></show-errors>
                            </div>
                        </div>

                        <!-- <div class="row" style="margin:3px 0px 13px 0px;">
                            Dear Client, You can now download BlackTie mobile app from appstore and login with your email address to access your account.
                        </div> -->
                        <div class="row float-right">
                            <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">ADD & NOTIFY CLIENT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Account List
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Client ID</th>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of data ">
                                <td>{{data.client_id}}</td>
                                <td>{{data.name}}</td>
                                <td>{{data.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>

</div>