<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 float-justify">
                            <i class="fa fa-align-justify"></i> Manage Flight Requests
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" (click)="largeModal.show()">
                                        Add New Flight Request
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div *ngFor="let alert of aleData">
                        <alert type="success" dismissOnTimeout="4000" isOpen="false">{{ alert.msg }}</alert>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Client ID</th>
                                <th>Name</th>
                                <th>From</th>
                                <th>Destination</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Plan Type</th>
                                <th>Passengers</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of data | orderBy:'date_time':true">
                                <td>{{data.client_id}}</td>
                                <td>{{data.name}}</td>
                                <td>{{data.flight_from}}</td>
                                <td>{{data.flight_to}}</td>
                                <td>{{data.date_time | date:'yyyy/MM/dd'}}</td>
                                <td>{{data.date_time | date:'hh:mm:ss'}}</td>
                                <td>{{data.plane_type}}</td>
                                <td>{{data.number_of_passengers}}</td>
                                <td>
                                    <select class="form-control" style="width: 142px" [(ngModel)]="data.status" (ngModelChange)="onChange(data,$event)">
                                            <option [value]="i" *ngFor="let i of statuss" >{{i}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <tabset>
                        <tab heading="Requested Flights">
                            <form [formGroup]="myForm" (ngSubmit)="addRequest('requested')" novalidate>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <select class="form-control" name="client_id" formControlName="client_id" [(ngModel)]="client_id">
                                            <option value="">Client Id</option>    
                                            <option [value]="i.client_id" *ngFor="let i of client_ids">{{i.client_id}}</option>
                                        </select>
                                        <show-errors [control]="myForm.controls.client_id"></show-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="flight_from" formControlName="flight_from" [(ngModel)]="flight_from" placeholder="Flight From">
                                        <show-errors [control]="myForm.controls.flight_from"></show-errors>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="flight_to" formControlName="flight_to" [(ngModel)]="flight_to" placeholder="Flight To">
                                        <show-errors [control]="myForm.controls.flight_to"></show-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <select class="form-control" name="flight_type" formControlName="flight_type" [(ngModel)]="flight_type">
                                            <option value="">Flight Type</option>
                                            <option value="one_way" >One Way</option>
                                            <option value="two_way" >Two Way</option>
                                        </select>
                                        <show-errors [control]="myForm.controls.flight_type"></show-errors>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="number_of_passengers" formControlName="number_of_passengers" [(ngModel)]="number_of_passengers" placeholder="Number Of Passengers">
                                        <show-errors [control]="myForm.controls.number_of_passengers"></show-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="date_time" formControlName="date_time" [(ngModel)]="date_time" placeholder="Date Time">
                                        <show-errors [control]="myForm.controls.date_time"></show-errors>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="return_date_time" formControlName="return_date_time" [(ngModel)]="return_date_time" placeholder="Return Date Time">
                                        <show-errors [control]="myForm.controls.return_date_time"></show-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="plane_type" formControlName="plane_type" [(ngModel)]="plane_type" placeholder="Plane Type">
                                        <show-errors [control]="myForm.controls.plane_type"></show-errors>
                                    </div>
                                </div>
                                <div class="row float-right">
                                    <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Create Request</button>
                                </div>
                            </form>
                        </tab>

                        <tab heading="Upcoming Flights">
                            <form [formGroup]="myForm" (ngSubmit)="addRequest('upcoming')" novalidate>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <select class="form-control" name="client_id" formControlName="client_id" [(ngModel)]="client_id">
                                                    <option value="">Client Id</option>    
                                                    <option [value]="i.client_id" *ngFor="let i of client_ids">{{i.client_id}}</option>
                                                </select>
                                        <show-errors [control]="myForm.controls.client_id"></show-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="flight_from" formControlName="flight_from" [(ngModel)]="flight_from" placeholder="Flight From">
                                        <show-errors [control]="myForm.controls.flight_from"></show-errors>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="flight_to" formControlName="flight_to" [(ngModel)]="flight_to" placeholder="Flight To">
                                        <show-errors [control]="myForm.controls.flight_to"></show-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <select class="form-control" name="flight_type" formControlName="flight_type" [(ngModel)]="flight_type">
                                                    <option value="">Flight Type</option>
                                                    <option value="one_way" >One Way</option>
                                                    <option value="two_way" >Two Way</option>
                                                </select>
                                        <show-errors [control]="myForm.controls.flight_type"></show-errors>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="number_of_passengers" formControlName="number_of_passengers" [(ngModel)]="number_of_passengers" placeholder="Number Of Passengers">
                                        <show-errors [control]="myForm.controls.number_of_passengers"></show-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="date_time" formControlName="date_time" [(ngModel)]="date_time" placeholder="Date Time">
                                        <show-errors [control]="myForm.controls.date_time"></show-errors>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="return_date_time" formControlName="return_date_time" [(ngModel)]="return_date_time" placeholder="Return Date Time">
                                        <show-errors [control]="myForm.controls.return_date_time"></show-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="plane_type" formControlName="plane_type" [(ngModel)]="plane_type" placeholder="Plane Type">
                                        <show-errors [control]="myForm.controls.plane_type"></show-errors>
                                    </div>
                                </div>
                                <div class="row float-right">
                                    <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Create Request</button>
                                </div>
                            </form>

                        </tab>

                        <tab heading="Completed Flights">
                            <form [formGroup]="myForm" (ngSubmit)="addRequest('completed')" novalidate>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <select class="form-control" name="client_id" formControlName="client_id" [(ngModel)]="client_id">
                                                            <option value="">Client Id</option>    
                                                            <option [value]="i.client_id" *ngFor="let i of client_ids">{{i.client_id}}</option>
                                                        </select>
                                        <show-errors [control]="myForm.controls.client_id"></show-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="flight_from" formControlName="flight_from" [(ngModel)]="flight_from" placeholder="Flight From">
                                        <show-errors [control]="myForm.controls.flight_from"></show-errors>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="flight_to" formControlName="flight_to" [(ngModel)]="flight_to" placeholder="Flight To">
                                        <show-errors [control]="myForm.controls.flight_to"></show-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <select class="form-control" name="flight_type" formControlName="flight_type" [(ngModel)]="flight_type">
                                                            <option value="">Flight Type</option>
                                                            <option value="one_way" >One Way</option>
                                                            <option value="two_way" >Two Way</option>
                                                        </select>
                                        <show-errors [control]="myForm.controls.flight_type"></show-errors>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="number_of_passengers" formControlName="number_of_passengers" [(ngModel)]="number_of_passengers" placeholder="Number Of Passengers">
                                        <show-errors [control]="myForm.controls.number_of_passengers"></show-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="date_time" formControlName="date_time" [(ngModel)]="date_time" placeholder="Date Time">
                                        <show-errors [control]="myForm.controls.date_time"></show-errors>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="return_date_time" formControlName="return_date_time" [(ngModel)]="return_date_time" placeholder="Return Date Time">
                                        <show-errors [control]="myForm.controls.return_date_time"></show-errors>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <input type="text" class="form-control" name="plane_type" formControlName="plane_type" [(ngModel)]="plane_type" placeholder="Plane Type">
                                        <show-errors [control]="myForm.controls.plane_type"></show-errors>
                                    </div>
                                </div>
                                <div class="row float-right">
                                    <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Create Request</button>
                                </div>
                            </form>
                        </tab>
                    </tabset> -->
                </div>
            </div>
        </div>
    </div>
</div>



<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Flight</h4>
                <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="myForm" (ngSubmit)="addRequest()" novalidate>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <!-- <input type="text" class="form-control" id="client_id" [(ngModel)]="client_id" placeholder="Client Id"> -->
                            <select class="form-control" name="client_id" formControlName="client_id" [(ngModel)]="client_id">
                                            <option value="">Client Id</option>    
                                            <option [value]="i.client_id" *ngFor="let i of client_ids">{{i.client_id}}</option>
                                </select>
                            <show-errors [control]="myForm.controls.client_id"></show-errors>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" name="flight_from" formControlName="flight_from" [(ngModel)]="flight_from" placeholder="Flight From">
                            <show-errors [control]="myForm.controls.flight_from"></show-errors>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" name="flight_to" formControlName="flight_to" [(ngModel)]="flight_to" placeholder="Flight To">
                            <show-errors [control]="myForm.controls.flight_to"></show-errors>
                        </div>
                        <div class="form-group col-sm-6">
                            <!-- <input type="text" class="form-control" id="flight_type" [(ngModel)]="flight_type" placeholder="Flight Type"> -->
                            <select class="form-control" name="flight_type" formControlName="flight_type" [(ngModel)]="flight_type">
                                            <option value="">Flight Type</option>
                                            <option value="one_way" >One Way</option>
                                            <option value="two_way" >Two Way</option>
                                        </select>
                            <show-errors [control]="myForm.controls.flight_type"></show-errors>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" name="number_of_passengers" formControlName="number_of_passengers" [(ngModel)]="number_of_passengers" placeholder="Number Of Passengers">
                            <show-errors [control]="myForm.controls.number_of_passengers"></show-errors>
                        </div>
                        <div class="form-group col-sm-6">
                            <select class="form-control" name="plane_type" formControlName="plane_type" [(ngModel)]="plane_type">
                                    <option value="">Plane Type</option>    
                                    <option [value]="i" *ngFor="let i of plane_types">{{i}}</option>
                                </select>
                            <show-errors [control]="myForm.controls.plane_type"></show-errors>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <!-- <input type="text" class="form-control" id="client_id" [(ngModel)]="client_id" placeholder="Client Id"> -->
                            <select class="form-control" name="status" formControlName="status" [(ngModel)]="status">
                                    <option value="">Status</option>    
                                    <option [value]="i" *ngFor="let i of statuss">{{i}}</option>
                                </select>
                            <show-errors [control]="myForm.controls.status"></show-errors>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="col-form-label" for="date_time">Departure Date</label>
                            <!-- <input type="text" class="form-control" name="date_time" formControlName="date_time" [(ngModel)]="date_time" placeholder="Date Time"> -->
                            <input type="text" class="form-control" name="date_time" #dp="bsDatepicker" formControlName="date_time" bsDatepicker [bsValue]="bsValue" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [(ngModel)]="date_time">
                            <show-errors [control]="myForm.controls.date_time"></show-errors>
                        </div>
                        <div class="form-group col-sm-4">
                            <timepicker [(ngModel)]="mytime" formControlName="mytime"></timepicker>
                        </div>
                    </div>
                    <div class="row" *ngIf="flight_type=='two_way'">
                        <div class="form-group col-sm-4">
                            <label class="col-form-label" for="return_date_time">Departure Return Date</label>
                            <input type="text" class="form-control" name="return_date_time" #dp="bsDatepicker" formControlName="return_date_time" bsDatepicker [bsValue]="bsValue" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [(ngModel)]="return_date_time">
                            <show-errors [control]="myForm.controls.return_date_time"></show-errors>
                        </div>
                        <div class="form-group col-sm-4">
                            <timepicker [(ngModel)]="myRtime" formControlName="myRtime"></timepicker>
                        </div>
                    </div>
                    <div class="modal-footer float-right">
                        <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary" (click)="largeModal.hide()">Add Flight</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                    <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary" ></button>
                </div> -->

        </div>
    </div>
</div>