<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Add New Account
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" id="email" [(ngModel)]="email" placeholder="Email">
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" id="phone number" [(ngModel)]="phone" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" id="hours" [(ngModel)]="fname" placeholder="First Name">
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" id="postal-code" [(ngModel)]="lname" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" id="hours" [(ngModel)]="hours" placeholder="Package Hours">
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" id="postal-code" [(ngModel)]="rHours" placeholder="Remaining Hours">
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="form-group col-sm-6">
                                            <input type="text" class="form-control" id="id" [(ngModel)]="id" placeholder="Client ID">
                                        </div> -->
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" id="postal-code" [(ngModel)]="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                Dear Client, You can now download BlackTie mobile app from appstore and login with your email address to access your account.
                            </div>
                        </div>
                    </div>


                    <div class="row float-right">
                        <button type="button" class="btn btn-primary" (click)="addAccount(postCode,email,phone,hours,rHours,password,fname,lname)">ADD & NOTIFY CLIENT</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    Send Notifications
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="sr-only">Enter Client ID</label>
                            <input type="text" class="form-control" [(ngModel)]="id" placeholder="Enter Client ID">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <textarea id="textarea-input" name="textarea-input" [(ngModel)]="type" rows="2" class="form-control" placeholder="Type Notification Text"></textarea>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary float-right" (click)="addMe(id,type)"><i class="fa fa-dot-circle-o"></i> Send</button>
                </div>
            </div>
        </div>
    </div>
</div>